@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    /* background-image: url(img/fundo-tec.avif); 
    background-repeat: repeat-y;
    background-size: contain; */
    background: linear-gradient(90deg, #171a1b, #050505);  
    font-family: "Raleway", sans-serif;
    margin: 0px;
}

hr {
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 70px;
    border-color: rgb(58, 58, 58);
}

header {
    scroll-behavior: smooth;
    display: flex;
    background: linear-gradient(90deg, #151819, #050505);
    padding: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .25);
}

.logo {
    top: 20px;
    left: 20px;
    position: absolute;
}

.login:hover {
    background-color: #752323;
    transform: scale(1.1);

}

nav ul {
    text-align: center;
    background: #0d0f0f;
    padding: 10px;
    position: center;
    list-style-type: none;
    margin-top: 0px;
}

nav ul li {
    font-family: "raleway", sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-left: 36px;
    display: inline;

}

nav ul li a {
    color: #f3f3f388;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #eb155c;
}

.titulo-destaque h1 {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #eb155c;
    font-family: "raleway", sans-serif;
    color: #ffffff00;
    font-size: 50px;
    margin-top: 60px;
    margin-left: 130px;
}


.texto-destaque h2 {
    color: #f3f3f3;
    margin-top: 130px;
    margin-left: 160px;
    margin-right: 1350px;
    line-height: 30px;
    font-family: "raleway", sans-serif;
    font-weight: 300;
    font-size: 22px;
}

.texto-destaque p {
    margin-left: -19px;
    margin-right: -50px;
    color: #eb155c;
    margin-top: 40px;
    line-height: 30px;
    font-family: "raleway", sans-serif;
    font-weight: 300;
    font-size: 20px;
}

.botao-inscrever-se {
    margin-left: 200px;
    background-color: #eb155c;
    margin-top: 10px;
    color: #f3f3f3;
    border-color: #00000000;
    box-shadow: 0px 0px 10px 2px #000000;
    cursor: pointer;
    border-radius: 10px;
    font-size: 20px;
    width: 300px;
    height: 50px;
    transition: trasform, 0.4s ease;
}

.botao-inscrever-se:hover {
    transform: scale(1.1);
}

.video1 {
    position: relative;
    width: 1000px;
    height: 495px;
    box-shadow: 0px 0px 80px 10px #ffffff27;
    border-radius: 20px;
    margin-top: -370px;
    margin-left: 750px;
}

.titulo-next h1 {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #eb155c;
    font-family: "raleway", sans-serif;
    color: #ffffff00;
    font-size: 50px;
    margin-top: 60px;
    margin-left: 130px;
}

.titulo-next h2 {
    position: absolute;
    color: #535353da;
    margin-top: -30px;
    margin-left: 130px;
    font-family: "raleway", sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.conteudo-next {
    margin-right: 100px;
}

.conteudo-next h1 {
    font-size: 40px;
    margin-top: 100px;
    margin-left: 160px;
    color: #f3f3f3;
}

.conteudo-next h2 {
    color: #f3f3f3;
    margin-top: 20px;
    margin-left: 160px;
    font-family: "raleway", sans-serif;
    font-weight: 400;
    line-height: 30px;
    font-size: 20px;
}

.conteudo-next h3 {
    position: absolute;
    color: #f3f3f3;
    margin-top: 20px;
    margin-left: 160px;
    margin-right: 1300px;
    font-family: "raleway", sans-serif;
    font-weight: 400;
    line-height: 30px;
    font-size: 20px;
}

.conteudo-next h4 {
    color: #f3f3f3;
    margin-top: 20px;
    margin-left: 160px;
    margin-right: 900px;
    font-family: "raleway", sans-serif;
    font-weight: 400;
    line-height: 30px;
    font-size: 20px;
}

.video-next {
    width: 1000px;
    height: 560px;
    box-shadow: 0px 0px 80px 10px #ffffff27;
    border-radius: 20px;
    margin-top: -50px;
    margin-left: 750px;
}

.img-destaque img {
    box-shadow: 0px 0px 80px 10px #ffffff07;
    position: absolute;
    margin-top: -550px;
    border-radius: 20px;
    margin-left: 1050px;
}







.titulo-the-news h1 {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #eb155c;
    font-family: "raleway", sans-serif;
    color: #ffffff00;
    font-size: 50px;
    margin-top: 80px;
    margin-left: 130px;
}

.noticias h1 {
    font-family: "raleway", sans-serif;
    font-weight: 800;
    color: #f3f3f3;
    margin-left: 90px;
    font-size: 35px;
    margin-top: 50px;
}

.noticias h2 {
    font-family: "raleway", sans-serif;
    font-weight: 700;
    color: #f3f3f3;
    margin-left: 110px;
    font-size: 25px;
}

.noticias h3 {
    font-family: "raleway", sans-serif;
    font-weight: 400;
    color: #f3f3f3;
    margin-left: 110px;
    font-size: 20px;
}

.noticias h4 {
    font-family: "raleway", sans-serif;
    font-weight: 400;
    color: #757575;
    margin-left: 90px;
    font-size: 15px;
}

.like-btn {
    background-color: #00000000;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 17px;
    margin-top: -20px;
    margin-left: 100px;
}

.likes-contagem {
    color: #f3f3f3;
    margin-left: 15px;
    font-size: 16px;
}



footer {
    font-family: "raleway", sans-serif;
    background: #00000000;
    color: #f3f3f3;
    padding: 50px 0;
    font-size: 50px;
    text-align: center;
    font-weight: 600;
    margin: 0px;
}

footer img {
    width: 300px;
    align-items: center;
    transform: translateY(5vh);
}

footer h2 {
    font-family: "raleway", sans-serif;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
}

footer p {
    font-size: 15px;
    transform: translateY(4vh);
    text-align: center;
    margin-top: -20px;
}

.icones {
    transform: translateX(-2vh);
}

.icones li {
    display: inline-block;
    margin-bottom: 10px;
}

.icones img {
    width: 40px;
    height: 40px;
}